Repository jawsbaek/finops-for-ai-sds: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format-prisma, validate-colors

lefthook.yml:

# Lefthook configuration for FinOps for AI
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: bun run check:write
      stage_fixed: true

    format-prisma:
      glob: "prisma/schema.prisma"
      run: bunx prisma format
      stage_fixed: true

    validate-colors:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: bun run validate:colors
      fail_text: "âŒ Color system validation failed. See docs/color-system-guidelines.md"

pre-push:
  parallel: false
  commands:
    type-check:
      run: |
        echo "ğŸ” Running type check..."
        bun run build
      fail_text: "âŒ Type check failed. Please fix TypeScript errors before pushing."

    test:
      run: |
        if bun run -h 2>/dev/null | grep -q "test"; then
          echo "ğŸ§ª Running tests..."
          bun test
        else
          echo "â­ï¸  No test script found, skipping tests"
        fi

fix: Address critical code review issues from PR #33
  prisma/schema.prisma
  src/lib/services/openai/cost-collector-v2.ts
Due: lint, format-prisma, validate-colors

test: Improve test coverage for validation and encryption modules
  CLAUDE.md
  src/lib/services/email/__tests__/resend-client.test.ts
  src/lib/services/encryption/__tests__/api-key-manager.test.ts
  src/lib/services/encryption/__tests__/kms-envelope.test.ts
  src/lib/services/monitoring/__tests__/threshold-monitor.test.ts
  src/lib/services/providers/openai-validator.test.ts
  src/lib/services/providers/validation.test.ts
  src/lib/services/slack/__tests__/webhook.test.ts
  src/lib/utils/__tests__/retry.test.ts
  vitest.config.ts
Due: lint, validate-colors

docs: sync all documentation with Costs API migration (#28)
  docs/PRD-v2.md
  docs/SETUP-v2.md
  docs/architecture-v2.md
  docs/epics-v2.md
  docs/migration/COMPLETION_REPORT.md
  docs/migration/DOCUMENTATION_REWRITE_CHECKLIST.md
  docs/migration/MIGRATION_SUMMARY.md
  docs/stories/1-2-openai-costs-api-비용-일일-배치-수집-시스템-v2.md
  docs/stories/1-7-팀-admin-api-키-및-프로젝트-id-관리-v2.md
  docs/tech-spec-epic-1-v2.md
Due: none

feat: Multi-organization AI provider support with E2E testing design (#31)
  __tests__/e2e/helpers.ts
  __tests__/e2e/helpers/multi-org-helpers.ts
  __tests__/e2e/mocks/multi-org.mock.ts
  __tests__/e2e/page-objects/project-provider-page.ts
  __tests__/e2e/page-objects/team-settings-page.ts
  bun.lock
  docs/DATABASE_MIGRATION.md
  docs/plans/2025-01-04-multi-org-e2e-testing-ui-refactoring-design.md
  package.json
  prisma/schema.prisma
  scripts/validate-openai-setup.ts
  src/app/(dashboard)/projects/[id]/settings/page.tsx
  src/app/(dashboard)/teams/[teamId]/settings/page.tsx
  src/app/_components/admin-keys/AdminKeyCard.tsx
  src/app/_components/admin-keys/AdminKeyList.tsx
  src/app/_components/admin-keys/AdminKeyManager.tsx
  src/app/_components/admin-keys/AdminKeyRegistrationForm.tsx
  src/app/_components/ai-provider/AIProviderDisplay.tsx
  src/app/_components/ai-provider/AIProviderRegistration.tsx
  src/app/_components/ai-provider/ProviderBadge.tsx
  src/app/_components/ai-provider/ValidationIndicator.tsx
  src/app/api/cron/daily-batch/route.ts
  src/components/ui/alert-dialog.tsx
  src/lib/services/encryption/api-key-manager.ts
  src/lib/services/openai/cost-collector-v2.ts
  src/lib/services/providers/openai-validator.test.ts
  src/lib/services/providers/openai-validator.ts
  src/lib/services/providers/validation.test.ts
  src/lib/services/providers/validation.ts
  src/server/api/routers/project.ts
  src/server/api/routers/team.ts
  src/styles/globals.css
  vitest.config.ts
Due: lint, format-prisma, validate-colors

docs: Update all documentation to multi-org AI provider architecture (#30)
  .env.example
  docs/PRD-v2.md
  docs/PRD.md
  docs/SETUP-v2.md
  docs/SETUP.md
  docs/architecture-v2.md
  docs/architecture.md
  docs/epics-v2.md
  docs/epics.md
  docs/stories/1-2-openai-api-비용-일일-배치-수집-시스템.md
  docs/stories/1-2-openai-costs-api-비용-일일-배치-수집-시스템-v2.md
  docs/stories/1-7-팀-admin-api-키-및-프로젝트-id-관리-v2.md
  docs/stories/1-7-팀별-api-키-생성-및-자동-귀속.md
  docs/tech-spec-epic-1-v2.md
  docs/tech-spec-epic-1.md
Due: none

fix: Address critical code review issues and security concerns (#34)
  CLAUDE.md
  prisma/schema.prisma
  src/lib/services/email/__tests__/resend-client.test.ts
  src/lib/services/encryption/__tests__/api-key-manager.test.ts
  src/lib/services/encryption/__tests__/kms-envelope.test.ts
  src/lib/services/monitoring/__tests__/threshold-monitor.test.ts
  src/lib/services/openai/cost-collector-v2.test.ts
  src/lib/services/openai/cost-collector-v2.ts
  src/lib/services/providers/openai-validator.test.ts
  src/lib/services/providers/validation.test.ts
  src/lib/services/slack/__tests__/webhook.test.ts
  src/lib/utils/__tests__/retry.test.ts
  src/server/api/routers/__tests__/team-admin-authorization.test.ts
  src/server/api/routers/team.ts
  vitest.config.ts
Due: lint, format-prisma, validate-colors

fix: Use only globals.css color tokens per design system
  src/app/(dashboard)/projects/[id]/settings/page.tsx
  src/app/(dashboard)/teams/[teamId]/page.tsx
  src/app/(dashboard)/teams/[teamId]/settings/page.tsx
Due: lint, validate-colors

fix: Remove undefined semantic colors and use only globals.css tokens
  scripts/validate-colors.ts
  src/app/(auth)/login/page.tsx
  src/app/(auth)/signup/page.tsx
  src/app/(dashboard)/dashboard/page.tsx
  src/app/(dashboard)/layout.tsx
  src/app/(dashboard)/projects/[id]/page.tsx
  src/app/(dashboard)/projects/_components/project-list-client.tsx
  src/app/(dashboard)/reports/page.tsx
  src/app/_components/ai-provider/ValidationIndicator.tsx
  src/components/custom/project-card.tsx
  src/components/custom/stat-card.tsx
  src/components/dialogs/AddApiKeyDialog.tsx
Due: lint, validate-colors

chore: apply tweakcn theme
  src/styles/globals.css
Due: none

docs: Consolidate and reorganize documentation structure
  docs/02-design/index.md
  docs/03-implementation/plans/index.md
  docs/04-migration/index.md
  docs/05-operations/index.md
  docs/README.md
  docs/archive/COMPLETION_REPORT.md
  docs/archive/DOCUMENTATION_REWRITE_CHECKLIST.md
  docs/archive/bmm-workflow-status.yaml
  docs/archive/costs-api-migration-plan.md
  docs/archive/index.md
  docs/archive/research-deep-prompt-2025-10-31.md
Due: none

fix: Prevent infinite validation loop in OpenAI project registration (#42)
  docs/03-implementation/stories/1-17-성능-최적화-api-캐싱-전략.md
  src/app/_components/ai-provider/AIProviderRegistration.tsx
  src/app/_components/ai-provider/__tests__/AIProviderRegistration.test.tsx
  src/components/dialogs/AddApiKeyDialog.tsx
  src/components/dialogs/ConfirmDeleteKeyDialog.tsx
  src/components/dialogs/ConfirmDisableKeyDialog.tsx
  src/components/dialogs/__tests__/AddApiKeyDialog.test.tsx
  src/lib/services/encryption/api-key-manager.ts
  src/server/api/routers/team.ts
Due: lint, validate-colors

fix: Address PR review feedback for Stories 1.11 & 1.12
  docs/03-implementation/stories/1-12-performance-metrics.md
  prisma/schema.prisma
  src/app/_components/ai-provider/__tests__/AIProviderRegistration.test.tsx
Due: lint, format-prisma, validate-colors

fix: Add loading states to prevent premature UI rendering
  src/app/(dashboard)/projects/[id]/settings/page.tsx
  src/app/(dashboard)/teams/[teamId]/settings/page.tsx
  src/app/_components/ai-provider/AIProviderRegistration.tsx
  src/app/_components/ai-provider/__tests__/AIProviderRegistration.test.tsx
Due: lint, validate-colors

feat: Integrate Cap.js CAPTCHA for bot protection
  bun.lock
  docs/03-implementation/stories/1-20-captcha-통합-봇-방어.md
  package.json
  src/app/(auth)/login/page.tsx
  src/app/(auth)/signup/page.tsx
  src/app/api/cap/challenge/route.ts
  src/app/api/cap/redeem/route.ts
  src/env.js
  src/lib/captcha/useCaptcha.tsx
  src/server/api/captcha.ts
  src/server/api/routers/auth.ts
  src/server/api/trpc.ts
  src/server/auth/config.ts
Due: lint, validate-colors

refactor: Replace hardcoded CAPTCHA messages with i18n
  src/app/(auth)/login/page.tsx
  src/app/(auth)/signup/page.tsx
  src/lib/captcha/useCaptcha.tsx
  src/lib/i18n/messages.en.ts
  src/lib/i18n/messages.ko.ts
  src/server/api/trpc.ts
Due: lint, validate-colors

fix: Address code review findings for CAPTCHA integration
  .cap-tokens
  .gitignore
  src/app/(auth)/signup/page.tsx
  src/app/api/cap/challenge/route.ts
  src/app/api/cap/redeem/route.ts
  src/lib/i18n/messages.ko.ts
  src/server/api/__tests__/captcha.test.ts
  src/server/api/captcha.ts
  vitest.setup.ts
Due: lint, validate-colors

fix: Move CAP_BYPASS validation from build-time to runtime
  src/env.js
  src/server/api/captcha.ts
Due: lint, validate-colors

fix: Address code review findings for CAPTCHA integration
  src/app/(auth)/login/page.tsx
  src/app/(auth)/signup/page.tsx
  src/app/api/cap/redeem/route.ts
  src/lib/captcha/useCaptcha.tsx
  src/lib/i18n/messages.en.ts
  src/lib/i18n/messages.ko.ts
  src/server/api/captcha.ts
Due: lint, validate-colors

feat: Migrate CAPTCHA storage from filesystem to PostgreSQL for Vercel deployment
  .gitignore
  prisma/schema.prisma
  src/lib/captcha/useCaptcha.tsx
  src/server/api/captcha-storage.ts
  src/server/api/captcha.ts
Due: lint, format-prisma, validate-colors

fix: Address code review findings for CAPTCHA security and quality
  src/app/api/cron/captcha-cleanup/route.ts
  src/env.js
  src/lib/captcha/useCaptcha.tsx
  src/server/api/__tests__/captcha.test.ts
  src/server/api/captcha-storage.ts
Due: lint, validate-colors

feat: Cap.js CAPTCHA Integration for Bot Protection (Story 1.20) (#47)
  .env.example
  .gitignore
  CLAUDE.md
  bun.lock
  docs/03-implementation/stories/1-20-captcha-통합-봇-방어.md
  docs/test-env-fix-plan.md
  package.json
  prisma/schema.prisma
  src/app/(auth)/login/page.tsx
  src/app/(auth)/signup/page.tsx
  src/app/api/cap/challenge/route.ts
  src/app/api/cap/redeem/route.ts
  src/app/api/cron/captcha-cleanup/route.ts
  src/env.js
  src/lib/captcha/useCaptcha.tsx
  src/lib/i18n/messages.en.ts
  src/lib/i18n/messages.ko.ts
  src/server/api/__tests__/captcha.test.ts
  src/server/api/captcha-storage.ts
  src/server/api/captcha.ts
  src/server/api/routers/auth.ts
  src/server/api/trpc.ts
  src/server/auth/config.ts
  vitest.config.ts
  vitest.env.ts
  vitest.setup.ts
Due: lint, format-prisma, validate-colors

docs: Add Cost Optimization Simulator & Weekly Tips feature design
  docs/plans/2025-01-08-cost-optimization-simulator-design.md
Due: none

fix: Correct Cap.js import to resolve constructor error (#49)
  __tests__/e2e/auth-captcha.spec.ts
  bun.lock
  src/lib/captcha/__tests__/useCaptcha.test.tsx
  src/lib/captcha/useCaptcha.tsx
Due: lint, validate-colors

refactor: Improve CapWidget code quality and test coverage
  src/app/(auth)/login/page.tsx
  src/app/(auth)/signup/page.tsx
  src/components/custom/__tests__/cap-widget.test.tsx
  src/components/custom/cap-widget.tsx
Due: lint, validate-colors

fix: Cap.js CAPTCHA initialization and difficulty configuration
  src/app/api/cap/challenge/route.ts
  src/server/api/captcha.ts
Due: lint, validate-colors

fix: CAP_BYPASS environment variable parsing from string to boolean
  src/env.js
Due: lint, validate-colors

feat: Add token usage tracking and handle Costs API 404 gracefully (#52)
  prisma/schema.prisma
  src/app/api/cron/daily-batch/route.ts
  src/lib/services/openai/cost-collector-v2.ts
  src/lib/services/openai/usage-collector.ts
Due: lint, format-prisma, validate-colors
