Repository jawsbaek/finops-for-ai-sds: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format-prisma

lefthook.yml:

# Lefthook configuration for FinOps for AI
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bun run lint --fix
      stage_fixed: true

    format-prisma:
      glob: "prisma/schema.prisma"
      run: bunx prisma format
      stage_fixed: true

pre-push:
  parallel: false
  commands:
    type-check:
      run: |
        echo "ğŸ” Running type check..."
        bun run build
      fail_text: "âŒ Type check failed. Please fix TypeScript errors before pushing."

    test:
      run: |
        if bun run -h 2>/dev/null | grep -q "test"; then
          echo "ğŸ§ª Running tests..."
          bun test
        else
          echo "â­ï¸  No test script found, skipping tests"
        fi

fix: improve CI workflow based on official bun best practices
  .github/workflows/ci.yml
Due: none

fix: remove --frozen-lockfile due to bun integrity check bug
  .github/workflows/ci.yml
Due: none

feat: Story 1.2 - OpenAI API 비용 일일 배치 수집 시스템
  bun.lock
  docs/sprint-status.yaml
  docs/stories/1-1-프로젝트-인프라-및-기본-인증-구축.md
  docs/stories/1-2-openai-api-비용-일일-배치-수집-시스템.context.xml
  docs/stories/1-2-openai-api-비용-일일-배치-수집-시스템.md
  package.json
  prisma/migrations/20251101082722_add_cost_data_and_cron_log/migration.sql
  prisma/schema.prisma
  src/app/(dashboard)/dashboard/page.tsx
  src/app/(dashboard)/layout.tsx
  src/app/api/cron/daily-batch/route.ts
  src/env.js
  src/lib/services/email/notification.ts
  src/lib/services/encryption/kms-envelope.ts
  src/lib/services/openai/cost-collector.ts
  src/server/api/root.ts
  src/server/api/routers/cost.ts
  vercel.json
Due: lint, format-prisma

docs: update story 1.2 review with fixes complete
  docs/stories/1-2-openai-api-비용-일일-배치-수집-시스템.md
Due: none

fix: address P1 code review - add unique constraint for deduplication
  bun.lock
  docs/SETUP.md
  package.json
  prisma/migrations/20251101222653_add_snapshot_id_unique_constraint/migration.sql
  prisma/schema.prisma
  src/lib/services/openai/cost-collector.test.ts
  src/lib/services/openai/cost-collector.ts
  vitest.config.ts
  vitest.setup.ts
Due: lint, format-prisma

feat: Story 1.2 - OpenAI API 비용 일일 배치 수집 시스템 (#3)
  bun.lock
  docs/SETUP.md
  docs/sprint-status.yaml
  docs/stories/1-1-프로젝트-인프라-및-기본-인증-구축.md
  docs/stories/1-2-openai-api-비용-일일-배치-수집-시스템.context.xml
  docs/stories/1-2-openai-api-비용-일일-배치-수집-시스템.md
  package.json
  prisma/migrations/20251101082722_add_cost_data_and_cron_log/migration.sql
  prisma/migrations/20251101222653_add_snapshot_id_unique_constraint/migration.sql
  prisma/schema.prisma
  src/app/(dashboard)/dashboard/page.tsx
  src/app/(dashboard)/layout.tsx
  src/app/api/cron/daily-batch/route.ts
  src/env.js
  src/lib/services/email/notification.ts
  src/lib/services/encryption/kms-envelope.ts
  src/lib/services/openai/cost-collector.test.ts
  src/lib/services/openai/cost-collector.ts
  src/server/api/root.ts
  src/server/api/routers/cost.ts
  vercel.json
  vitest.config.ts
  vitest.setup.ts
Due: lint, format-prisma

fix: add null check for line in validate-colors script
  scripts/validate-colors.ts
  src/app/(auth)/login/page.tsx
  src/app/(auth)/signup/page.tsx
  src/app/(dashboard)/layout.tsx
Due: lint

fix: correct glob patterns in lefthook to match subdirectory files
  lefthook.yml
Due: none

docs: Color system guidelines and validation with fixes (#4)
  docs/color-system-guidelines.md
  lefthook.yml
  package.json
  scripts/validate-colors.ts
  src/app/(auth)/login/page.tsx
  src/app/(auth)/signup/page.tsx
  src/app/(dashboard)/layout.tsx
Due: lint

feat: Story 1.3 - 비용-가치 컨텍스트 기록 시스템
  prisma/schema.prisma
  src/app/(dashboard)/layout.tsx
  src/app/(dashboard)/projects/[id]/page.tsx
  src/app/(dashboard)/projects/page.tsx
  src/components/custom/project-card.tsx
  src/components/ui/textarea.tsx
  src/lib/services/openai/cost-collector.ts
  src/lib/services/reporting/efficiency.ts
  src/server/api/root.ts
  src/server/api/routers/auth.ts
  src/server/api/routers/project.ts
Due: lint, format-prisma

feat: Story 1.3 - 비용-가치 컨텍스트 기록 시스템 (#5)
  prisma/schema.prisma
  src/app/(dashboard)/layout.tsx
  src/app/(dashboard)/projects/[id]/page.tsx
  src/app/(dashboard)/projects/page.tsx
  src/components/custom/project-card.tsx
  src/components/ui/textarea.tsx
  src/lib/services/openai/cost-collector.ts
  src/lib/services/reporting/efficiency.ts
  src/server/api/root.ts
  src/server/api/routers/auth.ts
  src/server/api/routers/project.ts
Due: lint, format-prisma

docs: Add tweakcn theme migration design document
  docs/plans/2025-11-02-tweakcn-theme-migration-design.md
Due: none

style: Apply biome formatting to globals.css
  src/styles/globals.css
Due: none

fix: Resolve all type errors in main branch
  INTEGRATION_TEST.md
  docs/stories/1-3-비용-가치-컨텍스트-기록-시스템.context.xml
  docs/stories/1-3-비용-가치-컨텍스트-기록-시스템.md
  docs/stories/1-4-실시간-비용-임계값-모니터링-및-알림.context.xml
  docs/stories/1-4-실시간-비용-임계값-모니터링-및-알림.md
  prisma/migrations/20251102003748_add_cost_alert_model/migration.sql
  prisma/schema.prisma
  src/app/(dashboard)/projects/[id]/settings/page.tsx
  src/app/api/cron/poll-threshold/route.ts
  src/env.js
  src/hooks/use-toast.tsx
  src/lib/logger.ts
  src/lib/services/email/__tests__/resend-client.test.ts
  src/lib/services/email/resend-client.ts
  src/lib/services/email/templates/CostAlertEmail.tsx
  src/lib/services/monitoring/__tests__/threshold-monitor.test.ts
  src/lib/services/monitoring/threshold-monitor.ts
  src/lib/services/slack/__tests__/webhook.test.ts
  src/lib/services/slack/webhook.ts
  src/server/api/root.ts
  src/server/api/routers/alert.ts
Due: lint, format-prisma

fix: use vitest instead of bun test in pre-push hook
  lefthook.yml
Due: none

fix: use undefined assignment instead of delete for linter compliance
  src/lib/services/slack/__tests__/webhook.test.ts
Due: lint

feat: Story 1.4 - 실시간 비용 임계값 모니터링 및 알림 (#7)
  INTEGRATION_TEST.md
  bun.lock
  docs/stories/1-3-비용-가치-컨텍스트-기록-시스템.context.xml
  docs/stories/1-3-비용-가치-컨텍스트-기록-시스템.md
  docs/stories/1-4-실시간-비용-임계값-모니터링-및-알림.context.xml
  docs/stories/1-4-실시간-비용-임계값-모니터링-및-알림.md
  lefthook.yml
  package.json
  prisma/migrations/20251102003748_add_cost_alert_model/migration.sql
  prisma/schema.prisma
  src/app/(dashboard)/projects/[id]/settings/page.tsx
  src/app/api/cron/poll-threshold/route.ts
  src/env.js
  src/hooks/use-toast.tsx
  src/lib/logger.ts
  src/lib/services/email/__tests__/resend-client.test.ts
  src/lib/services/email/resend-client.ts
  src/lib/services/email/templates/CostAlertEmail.tsx
  src/lib/services/monitoring/__tests__/threshold-monitor.test.ts
  src/lib/services/monitoring/threshold-monitor.ts
  src/lib/services/slack/__tests__/webhook.test.ts
  src/lib/services/slack/webhook.ts
  src/server/api/root.ts
  src/server/api/routers/alert.ts
Due: lint, format-prisma

refactor: Apply T3 App best practices and optimize codebase
  src/lib/constants/index.ts
  src/lib/services/email/__tests__/resend-client.test.ts
  src/lib/services/email/resend-client.ts
  src/lib/services/monitoring/__tests__/threshold-monitor.test.ts
  src/lib/services/monitoring/threshold-monitor.ts
  src/lib/services/openai/cost-collector.ts
  src/lib/services/slack/__tests__/webhook.test.ts
  src/lib/services/slack/webhook.ts
  src/lib/types/branded.ts
  src/lib/utils/retry.ts
  src/server/api/helpers/authorization.ts
  src/server/api/routers/alert.ts
  src/server/api/routers/project.ts
  tsconfig.json
Due: lint

chore: Mark Story 1.2 as done after code review (#8)
  docs/sprint-status.yaml
Due: none

fix: Update pre-push hook and fix TypeScript errors
  lefthook.yml
  src/app/(dashboard)/projects/page.tsx
Due: lint

feat: Story 1.5 - 긴급 API 키 비활성화 메커니즘
  docs/sprint-status.yaml
  docs/stories/1-5-긴급-api-키-비활성화-메커니즘.context.xml
  docs/stories/1-5-긴급-api-키-비활성화-메커니즘.md
  prisma/schema.prisma
  src/app/(dashboard)/projects/[id]/page.tsx
  src/components/dialogs/ConfirmDisableKeyDialog.tsx
  src/lib/services/audit/audit-logger.ts
  src/lib/services/openai/cost-collector.ts
  src/lib/services/slack/webhook.ts
  src/server/api/routers/cost.ts
  src/server/api/routers/project.ts
Due: lint, format-prisma

fix: Remove encrypted API key fields from client response
  src/server/api/routers/project.ts
Due: lint

feat: Story 1.5 - 긴급 API 키 비활성화 메커니즘 (#10)
  docs/sprint-status.yaml
  docs/stories/1-5-긴급-api-키-비활성화-메커니즘.context.xml
  docs/stories/1-5-긴급-api-키-비활성화-메커니즘.md
  prisma/schema.prisma
  src/app/(dashboard)/projects/[id]/page.tsx
  src/components/dialogs/ConfirmDisableKeyDialog.tsx
  src/lib/services/audit/audit-logger.ts
  src/lib/services/openai/cost-collector.ts
  src/lib/services/slack/webhook.ts
  src/server/api/routers/cost.ts
  src/server/api/routers/project.ts
Due: lint, format-prisma

fix: Remove non-existent fields from API key destructuring
  src/server/api/routers/project.ts
Due: lint

fix: Resolve unhandled promise rejections in retry tests
  src/lib/services/email/__tests__/resend-client.test.ts
  src/lib/services/slack/__tests__/webhook.test.ts
Due: lint

fix: Auto-create default team on user signup to enable project creation
  src/server/api/routers/auth.ts
Due: lint

feat: Add user-to-team migration script for existing users
  package.json
  scripts/MIGRATION_GUIDE.md
  scripts/migrate-users-to-teams.ts
Due: lint

feat: Story 1.6 - 주간 리포트 생성 및 발송
  docs/sprint-status.yaml
  docs/stories/1-6-주간-리포트-생성-및-발송.context.xml
  docs/stories/1-6-주간-리포트-생성-및-발송.md
  prisma/schema.prisma
  src/app/(dashboard)/reports/page.tsx
  src/app/api/cron/weekly-report/route.ts
  src/lib/services/email/resend.ts
  src/lib/services/email/templates/weekly-report.tsx
  src/lib/services/reporting/report-generator.ts
  src/server/api/root.ts
  src/server/api/routers/report.ts
  vercel.json
Due: lint, format-prisma

fix: Address Codex P1 review findings
  src/app/api/cron/weekly-report/route.ts
  src/lib/services/reporting/report-generator.ts
Due: lint

feat: Story 1.6 - 주간 리포트 생성 및 발송 (#13)
  docs/sprint-status.yaml
  docs/stories/1-6-주간-리포트-생성-및-발송.context.xml
  docs/stories/1-6-주간-리포트-생성-및-발송.md
  prisma/schema.prisma
  src/app/(dashboard)/reports/page.tsx
  src/app/api/cron/weekly-report/route.ts
  src/lib/services/email/resend.ts
  src/lib/services/email/templates/weekly-report.tsx
  src/lib/services/reporting/report-generator.ts
  src/server/api/root.ts
  src/server/api/routers/report.ts
  vercel.json
Due: lint, format-prisma

fix: Ensure consistent project filtering for week-over-week comparison
  src/lib/services/reporting/report-generator.ts
Due: lint

fix: Replace ISR caching with dynamic rendering for user-scoped data
  src/app/(dashboard)/projects/page.tsx
Due: lint

fix: Wrap global error boundary in html/body tags
  src/app/error.tsx
Due: lint

feat: Story 1.7 - 팀별 API 키 생성 및 자동 귀속
  biome.jsonc
  docs/sprint-status.yaml
  docs/stories/1-7-팀별-api-키-생성-및-자동-귀속.context.xml
  docs/stories/1-7-팀별-api-키-생성-및-자동-귀속.md
  prisma/migrations/20251102015706_add_team_owner_and_budget/migration.sql
  prisma/schema.prisma
  src/app/(dashboard)/dashboard/page.tsx
  src/app/(dashboard)/teams/[teamId]/page.tsx
  src/app/(dashboard)/teams/page.tsx
  src/lib/services/encryption/api-key-manager.ts
  src/server/api/root.ts
  src/server/api/routers/cost.ts
  src/server/api/routers/team.ts
Due: lint, format-prisma

refactor: Comply with biome a11y and suspicious rules
  biome.jsonc
  src/app/(dashboard)/dashboard/page.tsx
  src/app/(dashboard)/teams/page.tsx
Due: lint

fix: Implement proper ownership transfer with role updates
  src/server/api/routers/team.ts
Due: lint

fix: Address all critical security and data integrity issues
  src/server/api/routers/team.ts
Due: lint
