Repository jawsbaek/finops-for-ai-sds: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format-prisma, validate-colors

lefthook.yml:

# Lefthook configuration for FinOps for AI
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: bun run check:write
      stage_fixed: true

    format-prisma:
      glob: "prisma/schema.prisma"
      run: bunx prisma format
      stage_fixed: true

    validate-colors:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: bun run validate:colors
      fail_text: "âŒ Color system validation failed. See docs/color-system-guidelines.md"

pre-push:
  parallel: false
  commands:
    type-check:
      run: |
        echo "ğŸ” Running type check..."
        bun run build
      fail_text: "âŒ Type check failed. Please fix TypeScript errors before pushing."

    test:
      run: |
        if bun run -h 2>/dev/null | grep -q "test"; then
          echo "ğŸ§ª Running tests..."
          bun test
        else
          echo "â­ï¸  No test script found, skipping tests"
        fi

feat: Story 1.8 - Emergency Response Basic Web Dashboard
  docs/sprint-status.yaml
  docs/stories/1-8-긴급-조치용-기본-웹-대시보드.context.xml
  docs/stories/1-8-긴급-조치용-기본-웹-대시보드.md
  src/app/(dashboard)/dashboard/page.tsx
  src/server/api/routers/cost.ts
Due: lint, validate-colors

feat: Story 1.8 - Emergency Response Basic Web Dashboard (#17)
  docs/sprint-status.yaml
  docs/stories/1-8-긴급-조치용-기본-웹-대시보드.context.xml
  docs/stories/1-8-긴급-조치용-기본-웹-대시보드.md
  src/app/(dashboard)/dashboard/page.tsx
  src/server/api/routers/cost.ts
Due: lint, validate-colors

feat: Phase 1 - Database schema for project-based API keys
  docs/INTEGRATION_TESTING.md
  package.json
  prisma/schema.prisma
  scripts/migrate-to-project-based-keys.ts
  scripts/seed-test-data.ts
  src/app/(dashboard)/teams/[teamId]/page.tsx
  src/server/api/routers/team.ts
Due: lint, format-prisma, validate-colors

docs: Add project-based API key management design document
  docs/plans/2025-11-02-project-based-api-key-management-design.md
Due: none

fix: 세션 유효성 검사 추가 및 명확한 에러 메시지 제공
  src/server/api/routers/team.ts
Due: lint, validate-colors

docs: Update architecture for project-based API key management
  docs/architecture.md
Due: none

fix: Add data backfill to migration for production safety
  prisma/migrations/20251102065410_project_based_api_keys/migration.sql
Due: none

fix: Preserve historical cost data and fix API contract consistency
  prisma/migrations/20251102065410_project_based_api_keys/migration.sql
  prisma/schema.prisma
  src/server/api/routers/cost.ts
Due: lint, format-prisma, validate-colors

fix: Remove user from all team projects when removed from team
  src/server/api/routers/team.ts
Due: lint, validate-colors

refactor: Project-based API key management (#18)
  docs/INTEGRATION_TESTING.md
  docs/architecture.md
  docs/plans/2025-11-02-project-based-api-key-management-design.md
  package.json
  prisma/migrations/20251102065410_project_based_api_keys/migration.sql
  prisma/schema.prisma
  scripts/migrate-to-project-based-keys.ts
  scripts/seed-test-data.ts
  scripts/verify-migration.ts
  src/app/(dashboard)/layout.tsx
  src/app/(dashboard)/projects/[id]/page.tsx
  src/app/(dashboard)/projects/_components/project-list-client.tsx
  src/app/(dashboard)/projects/error.tsx
  src/app/(dashboard)/projects/loading.tsx
  src/app/(dashboard)/projects/page.tsx
  src/app/(dashboard)/teams/[teamId]/page.tsx
  src/app/(dashboard)/teams/page.tsx
  src/lib/services/openai/cost-collector.ts
  src/lib/services/reporting/report-generator.ts
  src/server/api/routers/cost.ts
  src/server/api/routers/project.ts
  src/server/api/routers/team.ts
Due: lint, format-prisma, validate-colors

docs: Update architecture.md with Story 1.10 implementation details
  docs/architecture.md
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

feat: add Claude Code GitHub Workflow (#20)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

feat: Story 1.9 - Epic 1 통합 테스트 및 검증
  .github/workflows/test.yml
  __tests__/e2e/cost-runaway.spec.ts
  __tests__/e2e/user-journey.spec.ts
  __tests__/e2e/weekly-report.spec.ts
  bun.lock
  docs/epic-1-validation-report.md
  docs/monitoring-setup.md
  docs/pilot-test-checklist.md
  docs/security-validation.md
  docs/sprint-status.yaml
  docs/stories/1-9-epic-1-통합-테스트-및-검증.context.xml
  docs/stories/1-9-epic-1-통합-테스트-및-검증.md
  lighthouserc.json
  package.json
  playwright.config.ts
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: lint, validate-colors

test: Enhance E2E tests and configurations
  __tests__/e2e/IMPLEMENTATION_SUMMARY.md
  __tests__/e2e/README.md
  __tests__/e2e/cost-runaway.spec.ts
  __tests__/e2e/user-journey.spec.ts
  __tests__/e2e/weekly-report.spec.ts
  lighthouserc.json
  playwright.config.ts
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: lint, validate-colors

ci: Fix bun install failures in GitHub Actions
  .github/workflows/test.yml
  .github/workflows/test.yml.disabled
Due: none

fix: Address PR review comments and disable GitHub workflows
  .env.test.example
  .github/workflows/test.yml.backup
  .github/workflows/test.yml.disabled
  __tests__/e2e/helpers.ts
  __tests__/e2e/weekly-report.spec.ts
  playwright.config.ts
Due: lint, validate-colors

chore: Mark Story 1.9 as done
  docs/sprint-status.yaml
  docs/stories/1-9-epic-1-통합-테스트-및-검증.md
Due: none

fix: TypeScript errors in Sentry and Vitest configs
  sentry.server.config.ts
  vitest.config.ts
Due: none

feat: add mkworktree.sh
  mkworktree.sh
Due: none

feat: Story 1.11 - 보안 강화 (API 키 노출 방지 및 Rate Limiting)
  bun.lock
  package.json
  playwright.config.ts
  prisma/migrations/20251103050509_add_api_key_last4/migration.sql
  prisma/schema.prisma
  src/env.js
  src/lib/__tests__/api-key-utils.test.ts
  src/lib/__tests__/sanitize.test.ts
  src/lib/api-key-utils.ts
  src/lib/sanitize.ts
  src/server/api/ratelimit.ts
  src/server/api/routers/project.ts
  src/server/api/trpc.ts
Due: lint, format-prisma, validate-colors

feat: Story 1.11 - 보안 강화 (API 키 노출 방지 및 Rate Limiting)
  playwright.config.ts
  src/server/api/routers/project.ts
Due: lint, validate-colors

fix: Address additional PR review feedback
  .env.example
  src/server/api/ratelimit.ts
  src/server/api/trpc.ts
Due: lint, validate-colors

fix: Add Permissions-Policy header to resolve console warning (#24)
  next.config.js
Due: none

feat: Standardize error toast handling and add comprehensive tests
  __tests__/e2e/error-toast.spec.ts
  src/app/(auth)/login/page.tsx
  src/app/(auth)/signup/page.tsx
  src/app/(dashboard)/projects/[id]/settings/page.tsx
Due: lint, validate-colors

docs: Add unused components review documentation
  docs/UNUSED_COMPONENTS_REVIEW.md
Due: none

refactor: Address code review feedback
  src/app/(dashboard)/projects/[id]/page.tsx
  src/lib/services/encryption/__tests__/api-key-manager.test.ts
  src/lib/services/encryption/api-key-manager.ts
Due: lint, validate-colors

docs: Add Story 1.14 - API key integration and component tests
  docs/stories/1-14-api-키-관리-통합-및-컴포넌트-테스트-추가.md
Due: none

test: Add comprehensive API key management integration and component tests
  bun.lock
  package.json
  src/components/dialogs/__tests__/AddApiKeyDialog.test.tsx
  src/lib/services/encryption/__tests__/api-key-manager.test.ts
  src/lib/services/encryption/api-key-manager.ts
  src/server/api/routers/__tests__/project-api-key-integration.test.ts
  vitest.config.ts
  vitest.setup.ts
Due: lint, validate-colors

docs: Add multi-organization AI provider architecture design
  docs/plans/2025-01-04-multi-org-ai-provider-design.md
Due: none

docs: sync all documentation with Costs API migration
  docs/PRD-v2.md
  docs/SETUP-v2.md
  docs/architecture-v2.md
  docs/epics-v2.md
  docs/migration/COMPLETION_REPORT.md
  docs/migration/DOCUMENTATION_REWRITE_CHECKLIST.md
  docs/migration/MIGRATION_SUMMARY.md
  docs/stories/1-2-openai-costs-api-비용-일일-배치-수집-시스템-v2.md
  docs/stories/1-7-팀-admin-api-키-및-프로젝트-id-관리-v2.md
  docs/tech-spec-epic-1-v2.md
Due: none

docs: Add comprehensive implementation plan for multi-org support
  docs/plans/2025-01-04-multi-org-implementation-plan.md
Due: none

feat: Multi-organization AI provider support with real-time validation (#29)
  docs/plans/2025-01-04-multi-org-ai-provider-design.md
  docs/plans/2025-01-04-multi-org-implementation-plan.md
  prisma/schema.prisma
  scripts/test-costs-api.ts
  scripts/validate-openai-setup.ts
  src/app/(dashboard)/teams/[teamId]/settings/page.tsx
  src/app/api/cron/daily-batch/route.ts
  src/env.js
  src/lib/services/openai/cost-collector-v2.test.ts
  src/lib/services/openai/cost-collector-v2.ts
  src/server/api/routers/team.ts
Due: lint, format-prisma, validate-colors

chore: exclude .worktrees from vitest target
  src/styles/globals.css
  vitest.config.ts
Due: none

docs: Update all documentation to multi-org AI provider architecture
  docs/PRD-v2.md
  docs/PRD.md
  docs/SETUP-v2.md
  docs/SETUP.md
  docs/architecture-v2.md
  docs/architecture.md
  docs/epics-v2.md
  docs/epics.md
  docs/stories/1-2-openai-api-비용-일일-배치-수집-시스템.md
  docs/stories/1-2-openai-costs-api-비용-일일-배치-수집-시스템-v2.md
  docs/stories/1-7-팀-admin-api-키-및-프로젝트-id-관리-v2.md
  docs/stories/1-7-팀별-api-키-생성-및-자동-귀속.md
  docs/tech-spec-epic-1-v2.md
  docs/tech-spec-epic-1.md
Due: none

docs: Update all documentation to multi-org AI provider architecture (#30)
  .env.example
  docs/PRD-v2.md
  docs/PRD.md
  docs/SETUP-v2.md
  docs/SETUP.md
  docs/architecture-v2.md
  docs/architecture.md
  docs/epics-v2.md
  docs/epics.md
  docs/stories/1-2-openai-api-비용-일일-배치-수집-시스템.md
  docs/stories/1-2-openai-costs-api-비용-일일-배치-수집-시스템-v2.md
  docs/stories/1-7-팀-admin-api-키-및-프로젝트-id-관리-v2.md
  docs/stories/1-7-팀별-api-키-생성-및-자동-귀속.md
  docs/tech-spec-epic-1-v2.md
  docs/tech-spec-epic-1.md
Due: none

feat: Integrate multi-org components into UI (Batch 4)
  src/app/(dashboard)/projects/[id]/settings/page.tsx
  src/app/(dashboard)/teams/[teamId]/settings/page.tsx
Due: lint, validate-colors

feat: Add E2E test infrastructure for multi-org (Batch 5)
  __tests__/e2e/helpers.ts
Due: lint, validate-colors

feat: Multi-organization AI provider support with E2E testing design (#31)
  __tests__/e2e/helpers.ts
  __tests__/e2e/helpers/multi-org-helpers.ts
  __tests__/e2e/mocks/multi-org.mock.ts
  __tests__/e2e/page-objects/project-provider-page.ts
  __tests__/e2e/page-objects/team-settings-page.ts
  bun.lock
  docs/DATABASE_MIGRATION.md
  docs/plans/2025-01-04-multi-org-e2e-testing-ui-refactoring-design.md
  package.json
  prisma/schema.prisma
  scripts/validate-openai-setup.ts
  src/app/(dashboard)/projects/[id]/settings/page.tsx
  src/app/(dashboard)/teams/[teamId]/settings/page.tsx
  src/app/_components/admin-keys/AdminKeyCard.tsx
  src/app/_components/admin-keys/AdminKeyList.tsx
  src/app/_components/admin-keys/AdminKeyManager.tsx
  src/app/_components/admin-keys/AdminKeyRegistrationForm.tsx
  src/app/_components/ai-provider/AIProviderDisplay.tsx
  src/app/_components/ai-provider/AIProviderRegistration.tsx
  src/app/_components/ai-provider/ProviderBadge.tsx
  src/app/_components/ai-provider/ValidationIndicator.tsx
  src/app/api/cron/daily-batch/route.ts
  src/components/ui/alert-dialog.tsx
  src/lib/services/encryption/api-key-manager.ts
  src/lib/services/openai/cost-collector-v2.ts
  src/lib/services/providers/openai-validator.test.ts
  src/lib/services/providers/openai-validator.ts
  src/lib/services/providers/validation.test.ts
  src/lib/services/providers/validation.ts
  src/server/api/routers/project.ts
  src/server/api/routers/team.ts
  src/styles/globals.css
  vitest.config.ts
Due: lint, format-prisma, validate-colors
